<div class="wrapper dark-header">
  <header class="main-header">
    <div class="logo"><a href="index.html" >Task Buddy</a></div>
    <div class="navbar navbar-static-top">

    </div>
  </header>
  <section class="login-inner">
    <div class="login-middle">
      <div class="login-details">
        <form>
          <h2>Log In</h2>
          <div><p>Sign in with your Amazon account</p>
            <!-- <form action="/users/auth/amazon"> -->
              <a class="btn btn-link" href= "/users/auth/amazon" id="LoginWithAmazon" ><img alt="Login with Amazon" src="http://g-ecx.images-amazon.com/images/G/01/lwa/btnLWA_gold_312x64.png" width="156" height="32"></a>
            <!-- </form> -->
          </div>
          <hr />
          <label>
            <div class="input-group">
              <span class="input-group-addon" aria-hidden="true"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" placeholder="Email address"/>
            </div>
          </label>
          <label>
            <div class="input-group">
              <span class="input-group-addon" aria-hidden="true"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" placeholder="Password"/>
            </div>
          </label>
          <label>
            <input type="checkbox"/><span>Remember me</span>
          </label>
          <div class="btn-sub">
            <button class="pink-btn">Log In</button>
            <span>
              <a href="#" class="login-link">Sign up</a>
            </span>
            <span>
              <a href="#" class="login-link">Forget your password?</a>
            </span>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
